html, body
{
    width: 100%;
    height: 100%;
}
body
{
	background-color: #171a1f;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.center {
  margin: auto;
  width: 59%;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.c {
  margin: auto;
  display: block;s
  align-items: center;
  text-align: center;
  margin: 0 auto;
  min-width: 785px;
  left: 30%
}

.wrapper {
	align-items: center;
}

/* Loader */

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  position: relative;
  align-items: center;
  color: #801cf0;
  font-size: 10px;
  margin: 80px auto;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* Header */

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.m-intro2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  margin: 0 auto;
  min-width: 785px;
  overflow: hidden;
  position: relative;
}

.m-intro3 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  margin: 0 auto;
  min-width: 785px;
  overflow: hidden;
  position: relative;
  padding-bottom: 800px;
}

.m-intro4 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85px;
  margin: 0 auto;
  min-width: 785px;
  overflow: hidden;
  position: relative;
}

.m-intro {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000px;
  margin: 0 auto;
  min-width: 785px;
  overflow: hidden;
  position: relative;
}
.m-intro:before, .m-intro:after {
  display: block;
  content: " ";
  width: 2560px;
  height: 3560px;
  position: absolute;
  margin-top: -1280px;
  margin-left: -1280px;
  transform-origin: center;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 50;
  top: 50%;
  left: 50%;
}
.m-intro:before {
  background-image: url("assets/img/circle_inner.png");
  background-size: 100% auto;
  -webkit-animation: rotate 30s infinite linear;
  -moz-animation: rotate 30s infinite linear;
  -o-animation: rotate 30s infinite linear;
  animation: rotate 20s infinite linear;
}
.m-intro:after {
  background-image: url("assets/img/circle_outer.png");
  background-size: 100% auto;
  -webkit-animation: rotate 80s infinite linear;
  -moz-animation: rotate 80s infinite linear;
  -o-animation: rotate 80s infinite linear;
  animation: rotate 60s infinite linear;
}
.m-intro .e-text {
  width: 785px;
  position: relative;
  z-index: 100;
}
.m-intro .e-text h1 {
  color: #801cf0;
  margin: 0;
  text-transform: uppercase;
  font-size: 108px;
  line-height: 180px;
  border-top: 2px solid #801cf0;
  border-bottom: 2px solid #801cf0;
  margin: 30px 0;
  position: relative;
}
.m-intro .e-text h1:hover {
}
@supports (-webkit-background-clip: text) {
  .m-intro .e-text h1 {
    background: radial-gradient(ellipse at center, #801cf0 0%, #801cf0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	text-shadow: 0px 0px 10px #801cf0;
  }
}
.m-intro .e-text .subtitle {
  font-weight: 600;
  text-transform: uppercase;
}
.m-intro .e-text .preamble {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

.e-particles-orange {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  z-index: 5;
  width: 1000px;
  height: 600px;
  opacity: 0.4;
  transform: translate(-50%, -50%);
}

.e-particles-blue {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

/* Hover Options */

ul {
  z-index: 5000;
  margin: auto;
  padding: 0;
  display: flex;
  position: relative;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
  margin: 0 15px;
  transition: .5s;
}

ul li a {
  position: relative; 
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #801cf0;
  transition: .5s;
}

ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #801cf0;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
  box-shadow: 0 0 15px #801cf0;
}

ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #801cf0;
}

ul li a:hover {
  color: #801cf0;
  box-shadow: 0 0 5px #801cf0;
  text-shadow: 0 0 5px #801cf0;
}
ul li:hover {
	transform: rotateZ(20deg);
	transition: .5s;
}

/* Content Hover */

.content {
}
.content p {
  display: inline;
  background-repeat: no-repeat;
  transition: all 500ms ease-in-out;
}
.v1 p {
  background-position: bottom left;
  background-size: 0% 5px;
  background-image: linear-gradient(#b317ef, #801cf0);
  padding-bottom: 5px;
}
.v1:hover p {
  background-size: 100% 5px;
}
.v2 p {
  background-position: left;
  background-size: 0% 100%;
  background-image: linear-gradient(to right, #b317ef, #801cf0);
}
.v2:hover p {
  background-size: 100% 100%;
}
.v3 p {
  color: transparent;
  background-position: right;
  background-size: 100% 100%;
  background-image: linear-gradient(to right, #a0aec0, #a0aec0);
}
.v3:hover p {
  color: #000;
  background-size: 0% 100%;
}
.v4 p {
  background-position: bottom left;
  background-size: 0% 3px;
  background-image: repeating-linear-gradient(to right, #801cf0 0 3px, transparent 0 6px);
  padding-bottom: 3px;
}
.v4:hover p {
  background-size: 100% 3px;
}
.v5 p {
  background-position: center left;
  background-size: 100% 3px;
  background-image: linear-gradient(to right, #000, #000);
  padding-bottom: 3px;
}
.v5:hover p {
  background-size: 100% 100%;
  color: #fff;
  background-image: linear-gradient(to right, #e53e3e, #e53e3e);
}
.v6 p {
  background-position: center left;
  background-size: 100% 4px;
  background-image: linear-gradient(to right, #000, #000);
  padding-bottom: 4px;
}
.v6:hover p {
  background-position: bottom left;
  background-size: 100% 2px;
  font-style: italic;
}
.v7 p {
  background-position: left;
  background-size: 0% 100%;
  background-image: linear-gradient(to right, #f6e05e, #f6e05e);
}
.v7:hover p {
  background-position: right;
  background-size: 100% 100%;
}
.v8 p {
  background-position: left;
  background-size: 0% 100%;
  background-image: linear-gradient(to right, #b317ef, #801cf0);
  padding-bottom: 4px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.v8:hover p {
  background-size: 100% 100%;
}

/* Text floating anim */


.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

/* Wave */


:root {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

*,
:before,
:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-ms-box-sizing: inherit;
	-o-box-sizing: inherit;
	box-sizing: inherit;
}

html, body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

html {
	overflow: hidden;
}

body {
	margin: 0;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
	-ms-overflow-style: ms-autohiding-scrollbar;
}

#page-wrap {
	position: relative;
	display: block;
	clear: both;
	background: none;
	color: #000;
	text-decoration: none;
	padding: 3rem 0;
	width: 100%;
	height: 100%;
}

#inner-wrap {
	position: absolute;
	top: 3rem;
	left: 0;
	right: 0;
	bottom: 3rem;
	display: table;
	width: 100%;
	height: 100%;
	min-height: 322px;
	overflow: visible;
}

.logo {
	position: absolute;
	z-index: 1;
	top: 3rem;
	left: 2rem;
	display: block;
	width: 9vmax;
	height: 9vmax;
	min-width: 50px;
	min-height: 50px;
}

.waves {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	min-width: 100%;
	min-height: 70%;
	margin: auto 0;
}

.text {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	width: 83%;
	height: 100%;
	margin: auto;
}

img, svg {
	display: block;
	overflow: visible;
	pointer-events: none;
}

.group:before,
.group:after {
  content: "";
  display: table;
  clear: both;
}
.group {
  zoom: 1;
}





.credits {
	position: relative;
	z-index: 9;
	font-size: 130%;
	text-align: center;
	width: 100%;
	padding: 2rem 0;
}

.credits a {
	display: inline-block;
	color: #df1888;
	font-family: Arial, sans-serif;
	line-height: 1.5em;
	text-decoration: none !important;
	white-space: nowrap;
	margin: 0 1.2em;
	padding: 0.6em 0;
	transition: 150ms;
}

.credits a:hover {
	color: #2d71b9;
	cursor: pointer;
}

.credits-logo {
	fill: currentColor;
	display: inline-block;
	vertical-align: bottom;
	width: 1.6em;
	height: 1.6em;
	margin: 0 0.5em 0 0;
}

/* Table */

.container2 {
  position: relative;
  align: center;
  align-items: center;
}
table {
  width: 1000px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 3s;
  border-radius: 3px;
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.02);
  color: #fff;
  transition: 3s;
}
th {
  text-align: center;
  transition: 3s;
}
thead th {
  transition: 3s;
  /* background-color: #801cf0; */
  background: linear-gradient(180deg, #8717ef, #801cf0);
}
tbody tr {
  transition: 0.2s;
}
tbody tr:hover {
  transition: .2s;
  background-color: rgba(128, 28, 240, 0.3);
  box-shadow: 0px 0px 10px rgba(128, 28, 240, 0.5);
  transform: scale(1.02);
}

/* Dividers */

.section-bubble, .section-bubble_type-b, .section-bubble_type-a, .section-bubble4, .section-bubble3, .section-bubble2, .section-bubble1 {
  margin-bottom: 20vw;
  position: relative;
}
.section-bubble:after, .section-bubble_type-b:after, .section-bubble_type-a:after, .section-bubble4:after, .section-bubble3:after, .section-bubble2:after, .section-bubble1:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vw;
  background: url("") green;
  background-size: 100%;
  transform: translate(0, 100%);
}

.section-bubble1 {
}
.section-bubble1:after {
  background-color: #292d33;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23171a1f' viewBox='0 0 1185 248'><circle cx='76' cy='121.1' r='20' class='a'/><circle cx='870' cy='201.1' r='11' class='a'/><circle cx='814.5' cy='165.6' r='24.5' class='a'/><path d='M0 0v17.7c22.7 14.8 53 31.9 90.7 51.5 150.8 78 322 116.6 424.8 69.3 102.9-47.4 138-69.3 210.8-69.3s118.3 48.6 219.5 38.3 76.3-59.3 188.7-59.3c18.9 0 35.5 2.6 50.5 6.8V0H0z' class='a'/></svg>");
}

.section-bubble2 {
  background-color: #FFD2B0;
}
.section-bubble2:after {
  background-color: #384364;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1185 248'><path d='M50.5 199.8c112.4 0 87.5-49 188.7-59.3s146.7 38.3 219.5 38.3 107.9-21.9 210.8-69.3c102.8-47.3 274-8.7 424.8 69.3 37.7 19.5 68 36.7 90.7 51.5V0H0v193C15 197.2 31.6 199.8 50.5 199.8zM1109 106.9c11 0 20 9 20 20 0 11-9 20-20 20s-20-9-20-20C1089 115.9 1098 106.9 1109 106.9zM370.5 57.9c13.5 0 24.5 11 24.5 24.5 0 13.5-11 24.5-24.5 24.5S346 95.9 346 82.4C346 68.9 357 57.9 370.5 57.9zM315 35.9c6.1 0 11 4.9 11 11s-4.9 11-11 11 -11-4.9-11-11S308.9 35.9 315 35.9z' fill='%23FFD2B0'/></svg>");
}

.section-bubble3 {
  background-color: #384364;
}
.section-bubble3:after {
  background-color: #cccccc;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23384364' viewBox='0 0 1185 248'><circle cx='76' cy='121.1' r='20' class='a'/><circle cx='870' cy='201.1' r='11' class='a'/><circle cx='814.5' cy='165.6' r='24.5' class='a'/><path d='M0 0v17.7c22.7 14.8 53 31.9 90.7 51.5 150.8 78 322 116.6 424.8 69.3 102.9-47.4 138-69.3 210.8-69.3s118.3 48.6 219.5 38.3 76.3-59.3 188.7-59.3c18.9 0 35.5 2.6 50.5 6.8V0H0z' class='a'/></svg>");
}
.section-bubble3 h1 {
  color: white;
}
.section-bubble3 p {
  color: white;
  opacity: 0.8;
}

.section-bubble4 {
  background-color: #cccccc;
}
.section-bubble4:after {
  background-color: #333333;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1185 248'><path d='M50.5 199.8c112.4 0 87.5-49 188.7-59.3s146.7 38.3 219.5 38.3 107.9-21.9 210.8-69.3c102.8-47.3 274-8.7 424.8 69.3 37.7 19.5 68 36.7 90.7 51.5V0H0v193C15 197.2 31.6 199.8 50.5 199.8zM1109 106.9c11 0 20 9 20 20 0 11-9 20-20 20s-20-9-20-20C1089 115.9 1098 106.9 1109 106.9zM370.5 57.9c13.5 0 24.5 11 24.5 24.5 0 13.5-11 24.5-24.5 24.5S346 95.9 346 82.4C346 68.9 357 57.9 370.5 57.9zM315 35.9c6.1 0 11 4.9 11 11s-4.9 11-11 11 -11-4.9-11-11S308.9 35.9 315 35.9z' fill='%23cccccc'/></svg>");
}

.section-bubble5 {
  background: #333333;
  color: white;
  text-align: center;
}

.section-bubble_type-a:after {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 1185 248'><circle cx='76' cy='121.1' r='20' class='a'/><circle cx='870' cy='201.1' r='11' class='a'/><circle cx='814.5' cy='165.6' r='24.5' class='a'/><path d='M0 0v17.7c22.7 14.8 53 31.9 90.7 51.5 150.8 78 322 116.6 424.8 69.3 102.9-47.4 138-69.3 210.8-69.3s118.3 48.6 219.5 38.3 76.3-59.3 188.7-59.3c18.9 0 35.5 2.6 50.5 6.8V0H0z' class='a'/></svg>");
}

.section-bubble_type-b:after {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1185 248'><path d='M50.5 199.8c112.4 0 87.5-49 188.7-59.3s146.7 38.3 219.5 38.3 107.9-21.9 210.8-69.3c102.8-47.3 274-8.7 424.8 69.3 37.7 19.5 68 36.7 90.7 51.5V0H0v193C15 197.2 31.6 199.8 50.5 199.8zM1109 106.9c11 0 20 9 20 20 0 11-9 20-20 20s-20-9-20-20C1089 115.9 1098 106.9 1109 106.9zM370.5 57.9c13.5 0 24.5 11 24.5 24.5 0 13.5-11 24.5-24.5 24.5S346 95.9 346 82.4C346 68.9 357 57.9 370.5 57.9zM315 35.9c6.1 0 11 4.9 11 11s-4.9 11-11 11 -11-4.9-11-11S308.9 35.9 315 35.9z' fill='red'/></svg>");
}

/* Colouring */

.section3 {
	background-color: #292d33;
}

/* Box Anim */

cs-app, cs-app * {
  box-sizing: border-box;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

cs-app {
  margin: auto;
  width: 100%;
  max-width: 800px;
}
cs-app cs-title {
  color: #801cf0;
  text-align: center;
  margin-bottom: 10px;
  font-size: 65px;
  text-shadow: 0px 0px 10px #801cf0;
  border-bottom: 2px solid #801cf0;
}
cs-app cs-tiles {
  height: 344px;
  position: relative;
}
cs-app cs-tiles input {
  display: none;
}
cs-app cs-tiles cs-tile-container {
  display: flex;
  position: absolute;
  height: 85px;
  transform: translateX(-50%);
  transition: all 0.15s 0.15s;
  z-index: 1000;
}
cs-app cs-tiles cs-tile-container cs-tile {
  background: rgba(255, 255, 255, 0.02);
  margin: auto;
  width: 90%;
  height: 80%;
  border-radius: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  transition: .2s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
cs-app cs-tiles cs-tile-container cs-tile:hover {
  box-shadow: 0px 0px 10px #801cf0;
  background: #801cf0;
}
cs-app cs-tiles cs-tile-container cs-tile cs-text {
  transition: all 0.15s 0.15s;
  width: 100%;
  text-align: center;
  line-height: 70px;
  white-space: nowrap;
  font-weight: 700;
}
cs-app cs-tiles cs-tile-container cs-tile cs-content {
  transition: all 0.15s, max-height 0s;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  max-height: 0;
}
cs-app cs-tiles cs-tile-container cs-tile .cs-close {
  cursor: pointer;
  transition: all 0.15s;
  position: absolute;
  opacity: 0;
  top: 25px;
  right: 25px;
  transform: rotateZ(45deg) translateX(-50%) translateY(-50%);
  font-size: 25px;
}
cs-app cs-tiles input:checked + cs-tile-container {
  transition: all 0.25s;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10000;
}
cs-app cs-tiles input:checked + cs-tile-container cs-tile {
  transition: all 0.25s;
  background: #171a1f;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
cs-app cs-tiles input:checked + cs-tile-container cs-tile:hover {
  cursor: initial;
}
cs-app cs-tiles input:checked + cs-tile-container cs-tile .cs-open {
  display: none;
}
cs-app cs-tiles input:checked + cs-tile-container cs-tile .cs-close {
  transition: all 0.15s 0.25s;
  opacity: 1;
}
cs-app cs-tiles input:checked + cs-tile-container cs-tile .cs-close:hover {
  transition: all 0.15s;
  opacity: 0.5;
}
cs-app cs-tiles input:checked + cs-tile-container cs-tile cs-text {
  transition: all 0.15s 0.25s;
  font-size: 24px;
  line-height: 50px;
}
cs-app cs-tiles input:checked + cs-tile-container cs-tile cs-content {
  flex: 1;
  transition: all 0.25s 0.4s, max-height 0s 0.4s, flex 0s 0.4s;
  opacity: 1;
  margin-top: 10px;
  pointer-events: initial;
  width: 100%;
  max-height: 1000000px;
  overflow: hidden;
}
cs-app cs-tile-container:nth-of-type(1) {
  left: calc(0 * 33.334% + 1 * 16.667%);
  top: calc(0 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(2) {
  left: calc(1 * 33.334% + 1 * 16.667%);
  top: calc(0 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(3) {
  left: calc(2 * 33.334% + 1 * 16.667%);
  top: calc(0 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(4) {
  left: calc(0 * 33.334% + 1 * 16.667%);
  top: calc(1 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(5) {
  left: calc(1 * 33.334% + 1 * 16.667%);
  top: calc(1 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(6) {
  left: calc(2 * 33.334% + 1 * 16.667%);
  top: calc(1 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(7) {
  left: calc(0 * 33.334% + 1 * 16.667%);
  top: calc(2 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(8) {
  left: calc(1 * 33.334% + 1 * 16.667%);
  top: calc(2 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(9) {
  left: calc(2 * 33.334% + 1 * 16.667%);
  top: calc(2 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(10) {
  left: calc(0 * 33.334% + 1 * 16.667%);
  top: calc(3 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(11) {
  left: calc(1 * 33.334% + 1 * 16.667%);
  top: calc(3 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(12) {
  left: calc(2 * 33.334% + 1 * 16.667%);
  top: calc(3 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(13) {
  left: calc(0 * 33.334% + 1 * 16.667%);
  top: calc(4 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(14) {
  left: calc(1 * 33.334% + 1 * 16.667%);
  top: calc(4 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(15) {
  left: calc(2 * 33.334% + 1 * 16.667%);
  top: calc(4 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(16) {
  left: calc(0 * 33.334% + 1 * 16.667%);
  top: calc(5 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(17) {
  left: calc(1 * 33.334% + 1 * 16.667%);
  top: calc(5 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(18) {
  left: calc(2 * 33.334% + 1 * 16.667%);
  top: calc(5 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(19) {
  left: calc(1 * 33.334% + 1 * 16.667%);
  top: calc(6 * 85px);
  width: 33.334%;
}
