body {
  background-color: #0e121b;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Developed by NightTab */

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.center {
	display: flex;
	justify-content: center;
}

.rectangle {
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 25px;
  background: #151b28;
  padding: 20px;
  width: 310px;
  height: 50px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.rectangle2 {
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
  background: linear-gradient(135deg, #354fa0, #3595a7);
  width: 1580px;
  height: 40px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  position:relative;
  padding:2em;
  border-radius:1em;
  overflow:hidden;
  transition: background-color .5s ease,color .3s ease-in-out,transform .3s ease,box-shadow .5s ease;
}

.rectangle3 {
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 20px;
  background: #151b28;
  width: 1580px;
  height: 860px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  position:relative;
  padding:2em;
  border-radius:1em;
  overflow:hidden;
  transition: background-color .5s ease,color .3s ease-in-out,transform .3s ease,box-shadow .5s ease;
}

.rectangle4 {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #151b28;
  width: 1500px;
  height: 500;
  box-shadow: -10px 0px 0px #a3a3a3;
  position:relative;
  padding:2em;
  border-radius:1em;
  overflow:hidden;
  transition: background-color .5s ease,color .3s ease-in-out,transform .3s ease,box-shadow .5s ease;
}

.rectangle4:hover{
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #151b28;
  width: 1500px;
  height: 500;
  box-shadow: -15px 0px 0px #757575, 15px 0px 0px #757575;
  position:relative;
  padding:2em;
  border-radius:1em;
  overflow:hidden;
  transition: background-color .5s ease,color .3s ease-in-out,transform .3s ease,box-shadow .5s ease;
  transform: translateX(15px);
}

.rectangle5 {
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 20px;
  background: #151b28;
  width: 1580px;
  height: 85px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  position:relative;
  padding:2em;
  border-radius:1em;
  overflow:hidden;
  transition: background-color .5s ease,color .3s ease-in-out,transform .3s ease,box-shadow .5s ease;
}

.rectangle5:hover {
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 20px;
  background: #151b28;
  width: 1580px;
  height: 85px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  position:relative;
  padding:2em;
  border-radius:1em;
  overflow:hidden;
  transition: background-color .5s ease,color .3s ease-in-out,transform .3s ease,box-shadow .5s ease;
  transform: translateY(20px);
}

.rectangle6 {
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
  background: #151b28;
  width: 738px;
  height: 650px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  position:relative;
  padding:2em;
  border-radius:1em;
  overflow:hidden;
  transition: background-color .5s ease,color .3s ease-in-out,transform .3s ease,box-shadow .5s ease;
}

.text1 {
	text-shadow: 0 0 10px rgb(0 0 0 / 200%);
	margin-top: -5px;
	margin-left: 20px;
	color: #a3a3a3;
	text-align: left;
	font-size: 1.5em;
	font-weight: bold;
	font-family: Roboto,sans-serif;
	display: block;
}

.text2 {
	text-shadow: 0 0 10px rgb(0 0 0 / 200%);
	margin-bottom: 20px;
	margin-left: 20px;
	color: #a3a3a3;
	text-align: left;
	font-size: 1.2em;
	font-weight: italic;
	font-family: Roboto,sans-serif;
	display: block;
}

.text3 {
	text-shadow: 0 0 10px rgb(0 0 0 / 200%);
	margin-left: 20px;
	color: #a3a3a3;
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
	font-family: Roboto,sans-serif;
	display: block;
}

.text4 {
	text-shadow: 0 0 10px rgb(0 0 0 / 200%);
	color: #a3a3a3;
	font-size: .9em;
	margin-left: 20px;
	font-family: Roboto,sans-serif;
}

.text5 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-shadow: 0 0 10px rgb(0 0 0 / 200%);
	color: #a3a3a3;
	font-size: 1.2em;
	font-family: Roboto,sans-serif;
}

.text6 {
	text-shadow: 0 0 10px rgb(0 0 0 / 200%);
	color: #808080;
	font-size: 1em;
	font-family: Roboto,sans-serif;
}

.text7 {
	text-shadow: 0 0 10px rgb(0 0 0 / 200%);
	margin-bottom: 20px;
	margin-left: 20px;
	color: #a3a3a3;
	text-align: center;
	font-size: 1.35em;
	font-weight: italic;
	font-family: Roboto,sans-serif;
	display: block;
}

 .banner{
    position:relative;
    padding:2em;
    border-radius:1em;
    box-shadow:0 0 10px rgba(0,0,0,.5);
    overflow:hidden;
    transition: background-color .5s ease,color .3s ease-in-out,transform .3s ease,box-shadow .5s ease
}
.banner:hover{
    color:#fff;
    background:rgba(14,18,27,.44);
    transform:scale(1.05);
    box-shadow:0 2px 15px #000
}
.banner:before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    transform:translate(-100%,-100%);
    width:0;
    height:100%;
    border-radius:10%;
    background: linear-gradient(135deg, #354fa0, #3595a7);
    transition:.4s ease-in-out;
    z-index:-1;
}
.banner:hover:before{
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:200%;
    height:200%;
}

 .banner2{
    position:relative;
    padding:1.5em;
    border-radius:.5em;
	width: 450px;
	background-color: rgba(14,18,27,1);
    box-shadow:0 0 10px rgba(0,0,0,.5);
    overflow:hidden;
	font-family: Roboto,sans-serif;
    transition: background-color .5s ease,color .3s ease-in-out,transform .3s ease,box-shadow .5s ease;
}
.banner2:hover{
    color:#fff;
    background:rgba(14,18,27,.44);
    transform:scale(1.05);
    box-shadow:0 2px 15px #000;
}
.banner2:before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    transform:translate(-100%,-100%);
    width:0;
    height:100%;
    border-radius:10%;
    background: linear-gradient(135deg, #354fa0, #3595a7);
    transition:.4s ease-in-out;
    z-index:-1;
}
.banner2:hover:before{
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:200%;
    height:200%;
}

 .banner3{
    position:relative;
    padding:1.5em;
    border-radius:.5em;
	width: 690px;
	background: linear-gradient(135deg, #354fa0, #3595a7);
    box-shadow:0 0 10px rgba(0,0,0,.5);
    overflow:hidden;
	font-family: Roboto,sans-serif;
    transition: background-color .5s ease,color .3s ease-in-out,transform .3s ease,box-shadow .5s ease;
}
.banner3:hover{
    color:#fff;
    background: linear-gradient(135deg, #354fa0, #3595a7);
    transform:scale(1.02);
    box-shadow:0 2px 15px #000;
}

.shadow {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  margin-top: 20px;
}

.notice {
	position:absolute;
	margin-bottom: 10px;
	margin-top: 5px;
    font-size:22px;
    padding: 1em 2em 1em 2em;
    background:#0f131c;
    border-radius:.7em .7em 1em .7em;
    box-shadow:0 0 5px rgba(0,0,0,.7);
    color:gray;
	font-size: 25px;
	font-weight: bold;
	font-family: Roboto,sans-serif;
	transition:.2s ease-in-out;
}

.notice:hover {
	position:absolute;
	margin-bottom: 10px;
	margin-top: 5px;
    font-size:22px;
    padding: 1em 2em 1em 2em;
    background:#0f131c;
    border-radius:.7em .7em 1em .7em;
    box-shadow:0 0 5px rgba(0,0,0,.7);
    color:gray;
	font-size: 25px;
	font-weight: bold;
	font-family: Roboto,sans-serif;
	transform: translateX(10px);
	transition:.2s ease-in-out;
}

.icon {
	max-height: 100%;
}