/* Product Sans font-face */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
@font-face {
    src: url("fonts/productsans.ttf");
    font-family: 'Roboto Mono', monospace;
}

/* Icon font font-face */
@font-face {
    font-family: 'iconFont';
    src: url('fonts/fontello.eot?8268888');
    src: url('fonts/fontello.eot?8268888#iefix') format('embedded-opentype'),
    url('fonts/fontello.woff?8268888') format('woff'),
    url('fonts/fontello.ttf?8268888') format('truetype'),
    url('fonts/fontello.svg?8268888#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}


.center {
margin: auto;
width: 60%;
padding: 10px;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-image: linear-gradient(#22272E, #22272E);
	
    margin: 0;
}

/* Header for the Moon Client Website */
.header {
    overflow: hidden;
    background-color: #22272e;
    padding: 20px 10px;
    font-size: 30px;
    filter: drop-shadow(0 3px 6px #000);
}

/* Button elements for redirecting to different links */
.header a {
    float: center;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 23px;
    border-radius: 10px;
    margin-right: 20px;
}

/* Header Logo */
.header a.logo {
    color: #fff;
    font-size: 25px;
    line-height: 25px;
	text-align: center;
}

/* Override the hover state so the logo will not be detected as a button */
.header a.logo:hover {
    background-color: #22272e;
    filter: drop-shadow(0 0 1 #fff);
}

/* Color of the Buttons one they are hovered */
.header a:hover {
    background-color: #22272e;
    text-shadow: 0 0 5px #fff;
}

.diagonal-gradient {
  background: linear-gradient(to top, #fff, #000);
}

/* Set the min height of the video / make it scalable */
.videoContent {
    min-height: calc(50vh - 83px);
	background-image: linear-gradient(to bottom, #22272E, #22272e);
    display: flex;
}

/* Title text */
.title {
    font-family: 'Roboto Mono', monospace;
    font-size: 100px;
    color: #fff;
    text-align: center;
    filter: drop-shadow(0 0 5px #fff);
    opacity: 1;
}


/* Description text */
.desc {
    font-family: productSans;
    font-size: 20px;
    color: #fff;
    margin-top: -15px;
    text-align: center;
    filter: drop-shadow(0 0 5px #fff);
    opacity: 1;
}

/* Text container for the video container */
.container {
    position: absolute;
    width: 100%;
    height: calc(80vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container5 {
    position: absolute;
    width: 100%;
    height: calc(110vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/*TEST*/

html,
body {
  font-family: 'Roboto Mono', monospace;
  height: 100%;
}

.text {
  font-weight: 100;
  font-size: 100px;
  color: #fff;
  color: #fff;
  text-align: center;
  filter: drop-shadow(0 0 5px #000);
  opacity: 1;
}
.text2 {
  font-weight: 100;
  font-size: 80px;
  color: #fafafa;
}
.dud {
  color: #757575;
}

/* Cards*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-container {
  padding: 200px;
}

/* HEADING */

.heading {
  text-align: center;
}

.heading__title {
  font-weight: 600;
}

.heading__credits {
  margin: 10px 0px;
  color: #888888;
  font-size: 25px;
  transition: all 0.5s;
}

.heading__link {
  text-decoration: none;
}

.heading__credits .heading__link {
  color: inherit;
}

/* CARDS */
/*
.cards {
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  border-radius: 10px;
  box-shadow: 0px 6px 10px #000;
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 0px 10px #fff;
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  font-family: 'Roboto Mono', monospace;
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
  filter: drop-shadow(0 3px 6px #000);
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
}

CARD BACKGROUNDS

.card-1 {
  background: radial-gradient(#22272E, #22272E);
}

.card-2 {
  background: radial-gradient(#22272E, #22272E);
}

.card-3 {
  background: radial-gradient(#22272E, #22272E);
}

.card-4 {
  background: radial-gradient(#22272E, #22272E);
}

.card-5 {
  background: radial-gradient(#22272E, #22272E);
}

 RESPONSIVE 

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}
*/

/* TEST 2 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.container2 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #22272E;
}

.card {
  width: 100%;
  height: 20%;
  max-height: 400px;
  padding: auto;
  text-align: center;
  background: #242625;
  border-radius: 10px;
  box-shadow: 25px 25px 50px #22272E, -25px -25px 50px #22272E;
}
.card__container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  color: white;
}
.card__content {
  width: 90%;
  height: 95%;
  background: #191a19;
  margin: 10px auto;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  box-shadow: 16px 16px 44px #0a0a0a, -16px -16px 44px #22272E;
  transition: 0.3s all ease-in-out;
}
.card__content:hover {
  margin-top: -10px;
}
.card__header {
  text-transform: uppercase;
  font-size: 20px;
  margin: 40px auto;
}
.card__button {
  padding: 10px;
  border-radius: 50px;
  background: #1f75c4;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin: 50px auto;
}